<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Face Detection Camera Example</title>

<script src="https://cdn.bootcss.com/jquery/1.9.1/jquery.js"></script>
<script src="https://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>




</head>
<body>
<h2>Face Detection</h2>

<div>
<div class="control"><button id="startAndStop">Start</button></div>
</div>
<p class="err" id="errorMessage"></p>
<div>
    <table cellpadding=0 cellspacing=0 width=0 border=0>
    <tr>


        <td>
            <video id="videoInput" width=320 height=240></video>
        </td>
        <td>
            <canvas id="canvasOutput" width=320 height=240></canvas>
        </td>
         
        <td></td>
        <td></td>
    </tr>
    <tr>
    
        <td>
            <div class="caption">videoInput</div>
        </td>
        <td>
            <div class="caption">canvasOutput</div>
        </td>
        
        <td></td>
        <td></td>
    </tr>
    <tr>
 
        <td>
            <canvas id="FaceOutput"></canvas>
        </td>
        <td>
            <canvas id="FaceOutput2"></canvas>
        </td>

    </tr>
    <tr>

        <td>
            <div class="caption">FaceOutput</div>
        </td>
        <td>
            <div class="caption">FaceOutput2</div>
        </td>

    </tr>
    </table>
    <img src="./stone_mask.png" id="stone" style="display: none">
</div>

<div>
<textarea class="code" rows="29" cols="80" id="codeEditor" spellcheck="false" style="display:none">
</textarea>
</div>



<!-- <script>
        // Initialize Firebase
        var config = {
          apiKey: "AIzaSyDcVuxj_2GecfBFWjk2YOsouKp2yHFqQDM",
          authDomain: "facestone-85b05.firebaseapp.com",
          databaseURL: "https://facestone-85b05.firebaseio.com",
          projectId: "facestone-85b05",
          storageBucket: "",
          messagingSenderId: "121681080524"
        };
        firebase.initializeApp(config);
</script> -->

<script src="https://webrtc.github.io/adapter/adapter-5.0.4.js" type="text/javascript"></script>
<script src="utils.js" type="text/javascript"></script>
<script id="codeSnippet" type="text/code-snippet">

let video = document.getElementById('videoInput');
let src = new cv.Mat(video.height, video.width, cv.CV_8UC4);
let dst = new cv.Mat(video.height, video.width, cv.CV_8UC4);
let gray = new cv.Mat();
let cap = new cv.VideoCapture(video);
let faces = new cv.RectVector();
let classifier = new cv.CascadeClassifier();

let roi = new cv.Mat();
let stone = cv.imread('stone');
let dst_stone = new cv.Mat();
let dst_stone_size = new cv.Size(50,50);
cv.resize(stone,dst_stone,dst_stone_size,0,0,cv.INTER_AREA);

let canvas = document.getElementById('canvasOutput');
let ctx = canvas.getContext('2d');
let imgData = document.getElementById('stone');

var facedata = [];
var face_array = [];

// load pre-trained classifiers
classifier.load('haarcascade_frontalface_default.xml');





const FPS = 30;
function processVideo() {
    try {
        if (!streaming) {
            // clean and stop.
            src.delete();
            dst.delete();
            gray.delete();
            faces.delete();
            classifier.delete();
            console.log("Not streaming");
            return;
        }
        let begin = Date.now();
        // start processing.
        // capture the images from cam and transfer to dst
        cap.read(src);
        src.copyTo(dst);
        
        //define the matVec for storing detected faces
        let matVec = new cv.MatVector();
        var FaceJudge = false;

        //start to process the images from cam
        cv.cvtColor(dst, gray, cv.COLOR_RGBA2GRAY, 0);


        classifier.detectMultiScale(gray, faces, 1.1, 5, 0); // detect faces.
        
        // draw faces.
        
        for (let i = 0; i < faces.size(); ++i) {
            let face = faces.get(i);
            let point1 = new cv.Point(face.x, face.y);
            let point2 = new cv.Point(face.x + face.width, face.y + face.height);
            cv.rectangle(dst, point1, point2, [255, 0, 0, 255]);
            
            facedata = [face.x,face.y,face.width,face.height];
            face_array.push(facedata);

            let rect_face_roi = new cv.Rect(face.x,face.y,face.width,face.height);
            roi = dst.roi(rect_face_roi);
            matVec.push_back(roi);

            
                 if(faces.size() == 0){
                FaceJudge = false;
                    }
                if(faces.size() > 0){
                FaceJudge = true;
                }
        }
        

            
        cv.imshow('canvasOutput', dst);
        //cv.imshow('faceofroi', roi);

        console.log("FaceJudge =",FaceJudge);
        if(FaceJudge != false){

        cv.imshow('FaceOutput', matVec.get(0));


        //draw stone pic on the face
        for(var i=0; i < face_array.length ; i++){
        ctx.drawImage(imgData,face_array[i][0],face_array[i][1],face_array[i][2],face_array[i][3]+10);
        ctx.font = "20pt Calibri";
        ctx.fillStyle = 'red';
        ctx.fillText(i,face_array[i][0], face_array[i][1]);

        }
            if(faces.size()== 2){
                cv.imshow('FaceOutput2',matVec.get(1));
            };
        };

        
        // clear the related elements
        if(faces.size() == 0){
        let f1 = document.getElementById('FaceOutput');
        let f2 = document.getElementById('FaceOutput2');
        ctxf1 = f1.getContext("2d");
        ctxf2 = f2.getContext("2d");
        f1.height = f1.height;
        f2.height = f2.height;
        }

        facedata = [];
        face_array = [];


        // schedule the next one.
        let delay = 1000/FPS - (Date.now() - begin);
        setTimeout(processVideo, delay);
    } catch (err) {
        utils.printError(err);
    }
};

// schedule the first one.
setTimeout(processVideo, 1000);


 function SendFacetoAzure(num_faces,faces_data){

    $.ajax(
        {
          url: url,
          type: "POST",                     //←Ajax 發送資料的設定
          data: {
              "number":numfaces,
              "FaceImgs":faces_data
            },
          success: function (data, textStatus, jqXHR) {     //← Ajax 發送資料成功收到回應後所做的事
            console.log(data);
            return data;
            });
          },
          error: function (jqXHR, textStatus, errorThrown) { //if fails     //← Ajax 發送資料失敗收到回應後所做的事
            console.log('Error post = ', jqXHR);
          }
   
}


</script>
<script type="text/javascript">
let utils = new Utils('errorMessage');

utils.loadCode('codeSnippet', 'codeEditor');

let streaming = false;
let videoInput = document.getElementById('videoInput');
let startAndStop = document.getElementById('startAndStop');
let canvasOutput = document.getElementById('canvasOutput');
let canvasContext = canvasOutput.getContext('2d');

startAndStop.addEventListener('click', () => {
    if (!streaming) {
        utils.clearError();
        utils.startCamera('qvga', onVideoStarted, 'videoInput');
    } else {
        utils.stopCamera();
        onVideoStopped();
    }
});

function onVideoStarted() {
    streaming = true;
    startAndStop.innerText = 'Stop';
    videoInput.width = videoInput.videoWidth;
    videoInput.height = videoInput.videoHeight;
    utils.executeCode('codeEditor');
}

function onVideoStopped() {
    streaming = false;
    canvasContext.clearRect(0, 0, canvasOutput.width, canvasOutput.height);
    startAndStop.innerText = 'Start';
}

utils.loadOpenCv(() => {
    let faceCascadeFile = 'haarcascade_frontalface_default.xml';
    utils.createFileFromUrl(faceCascadeFile, faceCascadeFile, () => {
        startAndStop.removeAttribute('disabled');
    });
});
</script>
</body>
</html>

