<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <script src="https://cdn.bootcss.com/jquery/1.9.1/jquery.js"></script>
    <script src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script src="https://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-storage.js"></script>
    <!-- Automatically provides/replaces `Promise` if missing or broken. -->
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.js"></script>
    <title>Face Detection Camera Example</title>


</head>

<body>
    <h2>Face Detection Camera Example</h2>

    <div>
        <div class="control">
            <button id="startAndStop" disabled>Start</button>
        </div>

        <textarea class="code" rows="29" cols="80" id="codeEditor" spellcheck="false" style="display:none">
</textarea>
    </div>
    <p class="err" id="errorMessage"></p>
    <div>
        <table cellpadding="0" cellspacing="0" width="0" border="0">
            <tr>
                <td>
                    <video id="videoInput" width=320 height=240></video>
                </td>
                <td>
                    <canvas id="canvasOutput" width=320 height=240></canvas>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <div class="caption">videoInput</div>
                </td>
                <td>
                    <div id="MainOutput" class="caption">canvasOutput</div>

                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>

                <td>
                    <canvas id="FaceOutput"></canvas>
                </td>
                <td>
                    <canvas id="FaceOutput2"></canvas>
                </td>

            </tr>
            <tr>

                <td>
                    <div class="caption">FaceOutput</div>
                </td>
                <td>
                    <div class="caption">FaceOutput2</div>
                </td>

            </tr>
        </table>
        <img src="./stone_mask.png" id="stone" style="display: none">
    </div>

    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyDcVuxj_2GecfBFWjk2YOsouKp2yHFqQDM",
            authDomain: "facestone-85b05.firebaseapp.com",
            databaseURL: "https://facestone-85b05.firebaseio.com",
            projectId: "facestone-85b05",
            storageBucket: "facestone-85b05.appspot.com",
            messagingSenderId: "121681080524"
        };
        firebase.initializeApp(config);
    </script>

    <script>



        function getBase64Image(iface) {
            // get the face data from the FaceOutput field and get the 2D image data. Finally, transfer them into base64
            var ifacecanvas = document.createElement("canvas");
            ifacecanvas.width = iface.width;
            ifacecanvas.height = iface.height;
            var ifacectx = ifacecanvas.getContext('2d');
            ifacectx.drawImage(iface, 0, 0);
            var dataURL = ifacecanvas.toDataURL("image/png");
            return dataURL.replace(/^data:image\/(png|jpg);base64,/, "");
        }

        function SendtoFirebaseStorage(base64data) {

            //Send images to firebase storage
            var storageRef = firebase.storage().ref("image/face.jpg");

            storageRef.putString(base64data, 'base64').then(function (snapshot) {
                console.log('Uploaded face.jpg!');
            });

        }

        function SendtoFirebaseStorage2(base64data2) {

            //Send images to firebase storage
            var storageRef2 = firebase.storage().ref("image/face2.jpg");

            storageRef2.putString(base64data2, 'base64').then(function (snapshot) {
                console.log('Uploaded face2.jpg!');
            });
            // storageRef2.putString(base64data2, 'base64').then(function(snapshot) {
            // console.log('Uploaded face2.jpg!');
            // });
        }

       function ParseUrlfromFirebaseStorage() {

            var storageRef = firebase.storage().ref("image/face.jpg");

            return new Promise(function (resolve, reject) {
                storageRef.getDownloadURL().then(function (url) {
                    //console.log("url = ",url);
                    resolve(url);
                });
            });

        }

        function ParseUrlfromFirebaseStorage2() {

            var storageRef2 = firebase.storage().ref("image/face2.jpg");

            return new Promise(function (resolve, reject) {
                storageRef2.getDownloadURL().then(function (url) {
                    //console.log("url = ",url);
                    resolve(url);
                });
            });

        }

    </script>

    <script>
        //these are functions for azure face identity recognition

        function detect_face_for_faceId(face_url_from_db) {

            var sourceImageUrl = "https://firebasestorage.googleapis.com/v0/b/facestone-85b05.appspot.com/o/image%2Fimage.jpg?alt=media&token=616ee767-7bf4-4680-9daf-04ff93c98aa6";

            return new Promise(function (resolve, reject) {
                $.ajax(
                    {
                        url: "https://westcentralus.api.cognitive.microsoft.com/face/v1.0/detect",
                        type: "POST",                  //←Ajax 發送資料的設定
                        headers: {
                            "Ocp-Apim-Subscription-Key": "95500a0e2dfb40b2a53768210da58567",
                            "Content-Type": "application/json"
                        },
                        data: '{"url": ' + '"' + face_url_from_db + '"}'
                        ,
                        success: function (data, textStatus, jqXHR) {  //← Ajax 發送資料成功收到回應後所做的事
                            console.log("generate faceId = ", data);
                            //console.log("textStatus = ", textStatus);
                            if (data.length != 0) {
                                var faceID_of_azure = data[0].faceId;
                                console.log("faceID_of_azure = ", faceID_of_azure);
                            
                                compare_face_from_azure_facelist(faceID_of_azure).then(function (result) {
                                console.log('result = ',result);    
                                resolve(result);
                                });
                            
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) { //if fails  ← Ajax 發送資料失敗收到回應後所做的事
                            console.log(jqXHR);
                        }
                    }
                );
            });

        }

        // insert faceId from Azure to facelist to get the confidence 
        function compare_face_from_azure_facelist(faceId) {

            return new Promise(function (resolve, reject) {
                $.ajax(
                    {
                        url: "https://westcentralus.api.cognitive.microsoft.com/face/v1.0/findsimilars",
                        type: "POST",                  //←Ajax 發送資料的設定
                        headers: {
                            "Ocp-Apim-Subscription-Key": "95500a0e2dfb40b2a53768210da58567",
                            "Content-Type": "application/json"
                        },
                        data: '{"faceId":' + '"' + faceId + '",' + '"faceListId":' + '"tonylist",' + '"maxNumOfCandidatesReturned":' + '"1",' + '"mode":' + '"matchFace"}'
                        ,
                        success: function (data, textStatus, jqXHR) {  //← Ajax 發送資料成功收到回應後所做的事
                            resolve(data[0].confidence);

                        },
                        error: function (jqXHR, textStatus, errorThrown) { //if fails  ← Ajax 發送資料失敗收到回應後所做的事
                            console.log(jqXHR);
                        }
                    }
                );
            });

        }




    </script>


    <script type="text/javascript">

        var DrawStoneorNot = true;

        $(document).ready(function () {


        // 點選canvasOutput 區域，可以關閉畫上石頭。
            $('#canvasOutput').click(function () {

                if (DrawStoneorNot == true) {
                    DrawStoneorNot = false;
                    console.log('change true to false');
                } else if (DrawStoneorNot == false) {
                    DrawStoneorNot = true;
                    console.log('change false to true');
                };

            });
        });

    </script>

    <script src="https://webrtc.github.io/adapter/adapter-5.0.4.js" type="text/javascript"></script>
    <script src="utils.js" type="text/javascript"></script>
    <script id="codeSnippet" type="text/code-snippet">


        let video = document.getElementById('videoInput'); //只抓取cam，不做處理
        // 抓出src 跟 dst 的影像大小
        let src = new cv.Mat(video.height, video.width, cv.CV_8UC4); 
        let dst = new cv.Mat(video.height, video.width, cv.CV_8UC4);
        let gray = new cv.Mat();
        //抓出影像的frame
        let cap = new cv.VideoCapture(video);
        //偵測到臉會放在RectVector();
        let faces = new cv.RectVector();
        let classifier = new cv.CascadeClassifier();
        
        let roi = new cv.Mat();
        let stone = cv.imread('stone');
        let dst_stone = new cv.Mat();
        let dst_stone_size = new cv.Size(50, 50);
        cv.resize(stone, dst_stone, dst_stone_size, 0, 0, cv.INTER_AREA);

        let canvas = document.getElementById('canvasOutput');
        let ctx = canvas.getContext('2d');
        let imgData = document.getElementById('stone');

        var global_face_url;
        var Bool_of_confidence_1 = false;
        var Bool_of_confidence_2 = false;


        var facedata = [];
        var face_array = [];



        // load pre-trained classifiers 預設的，僅偵側臉
        classifier.load('haarcascade_frontalface_default.xml');




        const FPS = 30;
        function processVideo() {

            //if the button shows stop to not stream videos

            try {
                if (!streaming) {
                    // clean and stop.
                    src.delete();
                    dst.delete();
                    gray.delete();
                    faces.delete();
                    classifier.delete();
                    console.log("Not streaming");
                    return;
                }

                // if the button shows start to stream videos

                let begin = Date.now();
                // start processing.
                // capture the images from cam and transfer to dst
                cap.read(src);
                src.copyTo(dst);

                //define the matVec for storing detected faces
                let matVec = new cv.MatVector(); //把偵測到的臉存到這個mat向量變數
                var FaceJudge = false; //判斷有沒有臉

                //Make the images into grayscale

                cv.cvtColor(dst, gray, cv.COLOR_RGBA2GRAY, 0); //轉灰階






                // Detect faces

                classifier.detectMultiScale(gray, faces, 1.1, 5, 0); //faces表示臉的值


                // Check if there is any detected faces or not
                if (faces.size() == 0) {
                    FaceJudge = false;
                }
                if (faces.size() > 0) {
                    FaceJudge = true;
                }


                // draw faces of red rectangles.

                //faces.size()是臉的個數
                for (let i = 0; i < faces.size(); ++i) {
                    let face = faces.get(i); //faces裡面get到幾個臉
                    
                    //抓到臉，定義臉的左上角跟右下角的頂點
                    let point1 = new cv.Point(face.x, face.y);
                    let point2 = new cv.Point(face.x + face.width, face.y + face.height);
                    cv.rectangle(dst, point1, point2, [255, 0, 0, 255]);

                    //把臉的資料，變成一組陣列資料
                    facedata = [face.x, face.y, face.width, face.height];
                    //face_array會儲存多個臉的facedata資料
                    face_array.push(facedata);
                    
                    //畫上臉
                    let rect_face_roi = new cv.Rect(face.x, face.y, face.width, face.height);
                    roi = dst.roi(rect_face_roi);
                    matVec.push_back(roi); //push 到matVec裡面
                }



                //到目前為止，只有偵側臉，接下來開始要丟到Azure

                cv.imshow('canvasOutput', dst);
                console.log("FaceJudge =", FaceJudge);
                if (FaceJudge != false) {

                    // show the face region of interest in the "FaceOutput"
                    cv.imshow('FaceOutput', matVec.get(0)); //show出第一個臉
                    if (faces.size() == 2) {
                        cv.imshow('FaceOutput2', matVec.get(1));//show出第二個臉
                    };

                    //清空canvas
                    if (faces.size() == 0) {
                        let f1 = document.getElementById('FaceOutput');
                        let f2 = document.getElementById('FaceOutput2');
                        ctxf1 = f1.getContext("2d");
                        ctxf2 = f2.getContext("2d");
                        f1.height = f1.height;
                        f2.height = f2.height;
                    }


                    //Next steps are going to find the face identities
                    //Now, preparing to send face images to firebase to get the urls
                    //transfer images into base64 code and send them to firebase storage

                    //開始要找身份辨識，將擷取的臉部影像，轉成base64碼
                    var converttobase64fromFaceOutput1 = getBase64Image(document.getElementById("FaceOutput"));
                    var converttobase64fromFaceOutput2 = getBase64Image(document.getElementById("FaceOutput2"));

                    //console.log("converttobase64fromFaceOutput1",converttobase64fromFaceOutput1);
                    //console.log("converttobase64fromFaceOutput2",converttobase64fromFaceOutput2);

                    var urlarray = [];


                    //Parse the image url back and update the images to Firebase storage  
                    //從Firebase然後爬回url
                    if (FaceJudge == true) {
                        ParseUrlfromFirebaseStorage().then((furl) => {
                            console.log("face_url_from_db = ", furl);
                            ParseUrlfromFirebaseStorage2().then((f2url) => {
                                console.log("face2_url_from_db = ", f2url);

                                //detect_face_for_faceId() will generate face IDs and send them to Azure face identity api
                                detect_face_for_faceId(furl).then(function (confidence) {
                                    console.log("face 1 confidence = ", confidence);
                                    if (confidence >= 0.7) {
                                        Bool_of_confidence_1 = true;
                                    }
                                    detect_face_for_faceId(f2url).then(function (confidence2) {
                                        console.log("face 2 confidence = ", confidence2);
                                        if (confidence2 >= 0.7) {
                                            Bool_of_confidence_2 = true;
                                        };
                                        //把base64編碼傳入Firebase
                                        SendtoFirebaseStorage(converttobase64fromFaceOutput1);
                                        SendtoFirebaseStorage2(converttobase64fromFaceOutput2);
                                    });




                                });
                            });
                        });
                    };

                    
                    // if there is any certain detected identity, draw the Rock on the faces
                    console.log('Bool_of_confidence_1 ==', Bool_of_confidence_1);
                    console.log('Bool_of_confidence_2 ==', Bool_of_confidence_2);
                    //有認識身份，就把石頭畫上去。
                    // 小於三個臉、話石頭的布林值是true的話，根據抓到的臉的size，根據臉的座標位子，畫上石頭。
                    // imgData 就是石頭
                    if (faces.size() < 3) {
                        if (DrawStoneorNot == true) {
                            for (var i = 0; i < faces.size(); i++) {

                                if (i == 0) {
                                    if (Bool_of_confidence_1 == true) {
                                        //draw stone pic on the face1
                                        ctx.drawImage(imgData, face_array[i][0], face_array[i][1], face_array[i][2], face_array[i][3] + 10);
                                        ctx.font = "20pt Calibri";
                                        ctx.fillStyle = 'red';
                                        ctx.fillText("Tony", face_array[i][0], face_array[i][1]);
                                    };
                                };
                                if (i == 1) {
                                    if (faces.size() == 2) {
                                        if (Bool_of_confidence_2 == true) {
                                            //draw stone pic on the face2
                                            ctx.drawImage(imgData, face_array[i][0], face_array[i][1], face_array[i][2], face_array[i][3] + 10);
                                            ctx.font = "20pt Calibri";
                                            ctx.fillStyle = 'red';
                                            ctx.fillText("Tony", face_array[i][0], face_array[i][1]);
                                        };
                                    };
                                };
                            };
                        };
                    };


                };



                console.log("DrawStoneorNot ==", DrawStoneorNot); //到底畫不畫石頭


                //清空有用到的相關array跟初始化布林值。
                
                facedata = [];
                face_array = [];
                Bool_of_confidence_1 = false;
                Bool_of_confidence_2 = false;
                base64array = [];
                

                // schedule the next one.
                let delay = 1000 / FPS - (Date.now() - begin);
                setTimeout(processVideo, 2000); //每兩秒跑一次辨識人臉+AR，可由Azure開成免費使用付費API。
            } catch (err) {
                //utils.printError(JSON.stringify(err));
                //console.log(JSON.stringify(err));
            }
        };

        // schedule the first one.
        setTimeout(processVideo, 1000);



    </script>


    <script type="text/javascript">
        let utils = new Utils('errorMessage');

        utils.loadCode('codeSnippet', 'codeEditor');

        let streaming = false;
        let videoInput = document.getElementById('videoInput');
        let startAndStop = document.getElementById('startAndStop');
        let canvasOutput = document.getElementById('canvasOutput');
        let canvasContext = canvasOutput.getContext('2d');

        startAndStop.addEventListener('click', () => {
            if (!streaming) {
                utils.clearError();
                utils.startCamera('qvga', onVideoStarted, 'videoInput');
            } else {
                utils.stopCamera();
                onVideoStopped();
            }
        });

        function onVideoStarted() {
            streaming = true;
            startAndStop.innerText = 'Stop';
            videoInput.width = videoInput.videoWidth;
            videoInput.height = videoInput.videoHeight;
            utils.executeCode('codeEditor');
        }

        function onVideoStopped() {
            streaming = false;
            canvasContext.clearRect(0, 0, canvasOutput.width, canvasOutput.height);
            startAndStop.innerText = 'Start';
        }

        utils.loadOpenCv(() => {
            let faceCascadeFile = 'haarcascade_frontalface_default.xml';
            utils.createFileFromUrl(faceCascadeFile, faceCascadeFile, () => {
                startAndStop.removeAttribute('disabled');
            });
        });
    </script>
</body>

</html>